<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="APIKey" value="Enter you own keu"/>
		<add key="ConsumerKey" value="Enter you own key"/>
		<add key="ConsumerSecretToken" value="Enter you own key"/>
	</appSettings>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<register type="System.Windows.Window, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
					  mapTo="BootStrapper.FlickerConsole.AppWindowContainer, BootStrapper.FlickerConsole" />

			<register type="Foundation.Core.Interfaces.IModelProvider`1[[Foundation.Core.Models.FeedModel,Foundation.Core]], Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.FeedModelProvider, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="Foundation.Core.Interfaces.ITwitterFeedController, Foundation.Core"
					  mapTo="BusinessLogic.Twitter.Controller.TwitterFeedController, BusinessLogic.Twitter">
				<lifetime type="singleton" />
			</register>

			<register type="BusinessLogic.Twitter.Interfaces.ITwitterFeedPopulator, BusinessLogic.Twitter"
					  mapTo="BusinessLogic.Twitter.Controller.TwitterFeedPopulator, BusinessLogic.Twitter">
				<lifetime type="singleton" />
			</register>

			<register type="Foundation.Core.Interfaces.IModelProvider`1[[Foundation.Core.Models.TwitterFeedModel,Foundation.Core]], Foundation.Core"
					  mapTo="BusinessLogic.Twitter.Controller.TwitterModelProvider, BusinessLogic.Twitter">
				<lifetime type="singleton" />
			</register>

			<register type="Foundation.Core.Interfaces.IFeedItemAccessor, Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.PhotosItemAccessor, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="Foundation.Core.Interfaces.ITwitterItemAccessor, Foundation.Core"
					  mapTo="BusinessLogic.Twitter.Controller.TweetAccessor, BusinessLogic.Twitter">
				<lifetime type="singleton" />
			</register>
			
			<register type="Foundation.Core.Interfaces.IFeedPopulator, Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.FeedPopulator, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			

			<register type="Foundation.Core.Interfaces.IFeedController, Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.FeedController, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			
			
			<register type="Foundation.Core.Interfaces.IModelProvider`1[[Foundation.Core.Models.SearchParameters,Foundation.Core]], Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.SearchParameterModelProvider, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="Foundation.Core.Interfaces.ISearchController, Foundation.Core"
					  mapTo="BusinessLogic.Flicker.Controller.SearchController, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="BusinessLogic.Flicker.Interfaces.ISearchParameterDataStore, BusinessLogic.Flicker"
					  mapTo="BusinessLogic.Flicker.Controller.SearchParameterDataStore, BusinessLogic.Flicker">
				<lifetime type="singleton" />
			</register>


			<!--API Layer  Registrations-->
			<register type="APIServices.Flicker.Interfaces.IFlickrAPIService, APIServices.Flicker"
					  mapTo="APIServices.Flicker.Services.FlickrAPIInteractor, APIServices.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="APIServices.Flicker.Interfaces.IFlickrQueryManager, APIServices.Flicker"
					  mapTo="APIServices.Flicker.Services.FlickrQueryManager, APIServices.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="APIServices.Flicker.Interfaces.IFlickrQueryBuilder, APIServices.Flicker"
					  mapTo="APIServices.Flicker.Services.FlickrQueryBuilder, APIServices.Flicker">
				<lifetime type="singleton" />
			</register>

			<register type="APIServices.Twitter.Interfaces.ITwitterAPIServices, APIServices.Twitter"
					  mapTo="APIServices.Twitter.Services.TwitterAPIInteractor, APIServices.Twitter">
				<lifetime type="singleton" />
			</register>

			<register type="APIServices.Twitter.Interfaces.ITwitterQueryBuilder, APIServices.Twitter"
					  mapTo="APIServices.Twitter.Services.TwitterQueryBuilder, APIServices.Twitter">
				<lifetime type="singleton" />
			</register>

			<register type="APIServices.Twitter.Interfaces.ITwitterQueryManager, APIServices.Twitter"
					  mapTo="APIServices.Twitter.Services.TwitterQueryManager, APIServices.Twitter">
				<lifetime type="singleton" />
			</register>
			
			<register type="Util.Common.Interfaces.IInMemoryCache, Util.Common"
					  mapTo="Util.Common.InMemoryCache, Util.Common">
				<lifetime type="singleton" />
			</register>
		</container>
	</unity>
</configuration>
